/* #Vars for main styles
------------------------------------------------------------------------------- */
$main-bg: #fff;
$default-color: #383838;
$default-h-color:  #343434;

/*btn*/
/* forms */
$placeholder-txt:  #444;
$defaul-txt-form:  #444;
$bg-inputs-form: #fff;

//trasition
$gTransition: all .3s ease;
$gTransitionLinear: all .2s linear;

//fonts
$fontDefault: Arial, "Helvetica Neue", Helvetica, sans-serif;




