
.sign {
  display: none;
  @media only screen and (min-width: 750px) {
    display: block;
  }
  padding: 10px 0;
  &__input {
    width: 264px;
    height: 32px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #cccccc;
    font-size: 14px;
    color: #444;
    padding: 8px 8px 7px 10px;
    margin-right: 3px;
  }
  &__submit {
    border-radius: 3px;
    background: #ffa600; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa600 0%, #ff7800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa600 0%,#ff7800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa600 0%,#ff7800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa600', endColorstr='#ff7800',GradientType=0 ); /* IE6-9 */
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    border: solid 1px #fd7722;
    width: 100px;
    height: 32px;
    text-align: center;
  }


}